#app-footer {
  padding: 14px;
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid rgb(150, 150, 150);
  border-bottom: 1px solid rgb(150, 150, 150);
}

div.friend-requests-container {
  list-style-type: none;
  border: 1px solid;
  border-radius: 35px;
  padding: 45px;
}

ul.friends-requests > li {
  border-bottom: 1px dashed;
  width: 50%;
  margin: 25px auto;
  text-align: center;
}

div.userContainer {
	text-align: center;
}

div.userContainer button {
	margin: 25px 35px;
}

div.userContainer div.img img {
  border: 4px solid gray;
  margin: 4px;
}

.cover-img {
  height: 200px;
  width: 50%;
  margin: 0 auto;
}

input#friendsNameFilter {
	width: 30%;
	margin: 30px;
}

div.addComment input[type=text] {
  width: 40%;
  float: left;
  margin: 0 10px;
}

.well.comment {
  width: 50%;
  margin: 10px 10px;
}