<div class="userContainer well container-fluid" ng-if="currentUserData" >
	<h1>{{ currentUserData.name }}</h1>
	<div class="cover img cover-img" style="background-image: url('{{ currentUserData.coverImageData }}');"></div>
	<div class="gender"><strong>Gender:</strong> {{ currentUserData.gender == '0' ? 'Male' : 'Female'}} </div>
	<div class="img" class="thumbnail"><img src="{{ currentUserData.profileImageData ? currentUserData.profileImageData : 'http://farm3.staticflickr.com/2428/3887066231_56e5876522_z.jpg' }}" /> </div>
	<button class="btn btn-success" ng-click="sendFriendRequest(currentUserData.username)" ng-if="!currentUserData.hasPendingRequest && !currentUserData.isFriend">Send Friendship Request</button>

</div>